*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* % of browser default 16px that == 10 px */
}

body {
  box-sizing: border-box;
  color: $grey;
  padding: 3rem;
}